<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arneca.evyap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name="com.arneca.evyap.EvyapApp"
        android:allowBackup="true"
        android:icon="@drawable/iconcemix"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Evyap">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentStatus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.TransparentStatus"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.cmx.HomeActivity"
            android:theme="@style/AppTheme.TransparentStatus"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.cmx.SaleActivity"
            android:theme="@style/AppTheme.TransparentStatus"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.cmx.OpenDocListActivity"
            android:theme="@style/AppTheme.TransparentStatus"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.cmx.OpenDocStockListActivity"
            android:theme="@style/AppTheme.TransparentStatus"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.cmx.AddProductActivity"
            android:theme="@style/AppTheme.TransparentStatus"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.cmx.RBMatrisActivity"
            android:theme="@style/AppTheme.TransparentStatus"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.cmx.SayimUrunEkleActivity"
            android:theme="@style/AppTheme.TransparentStatus"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name=".ui.activity.cmx.OpenDocRecordsActivity"
            android:theme="@style/AppTheme.TransparentStatus"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.cmx.OrderActivity"
            android:theme="@style/AppTheme.TransparentStatus"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.cmx.TanimlarActivity"
            android:theme="@style/AppTheme.TransparentStatus"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name=".ui.activity.cmx.ProfileActivity"
            android:theme="@style/AppTheme.TransparentStatus"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.cmx.OfferActivity"
            android:theme="@style/AppTheme.TransparentStatus"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.cmx.NewSayimActivity"
            android:theme="@style/AppTheme.TransparentStatus"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name=".ui.activity.cmx.LocalRBMatrisActivity"
            android:theme="@style/AppTheme.TransparentStatus"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/AppTheme.TransparentStatus"
            android:screenOrientation="portrait">
        </activity>
        <activity
        android:name=".ui.activity.SettingsActivity"
        android:theme="@style/AppTheme.TransparentStatus"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.ProductLineActivity"
            android:theme="@style/AppTheme.TransparentStatus"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.PreferencesActivity"
            android:theme="@style/AppTheme.TransparentStatus"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.RestorePasswordActivity"
            android:theme="@style/AppTheme.TransparentStatus"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.ValidateSecurtyCodeActivity"
            android:theme="@style/AppTheme.TransparentStatus"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.ChangePasswordActivity"
            android:theme="@style/AppTheme.TransparentStatus"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.KVKKActivity"
            android:theme="@style/AppTheme.TransparentStatus"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>